<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
">

	<!-- 通过配置的方式配置定时任务
		<bean id="taskJob" class="com.agileeagle.gf.task.MainTask"/>
		<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		    <property name="group" value="job_work"/>
		    <property name="name" value="job_work_name"/>
		    <property name="concurrent" value="false"/>
		    <property name="targetObject">
		        <ref bean="taskJob"/>
		    </property>
		    <property name="targetMethod">
		        <value>execute</value>
		    </property>
		</bean>
		<bean id="myTrigger"
		      class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		    <property name="name" value="work_default_name"/>
		    <property name="group" value="work_default"/>
		    <property name="jobDetail">
		        <ref bean="jobDetail" />
		    </property>
		    <property name="cronExpression">
		        <value>0/1 * * * * ?</value>
		    </property>
		</bean>
		<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		    <property name="triggers">
		        <list>
		            <ref bean="myTrigger"/>
		        </list>
		    </property>
		</bean>-->
	<!-- 通过动态创建的方式控制定时任务-->
	<bean id="quartzManager" class="com.wf.schedule.client.QuartzManager">
		<property name="scheduler" ref="scheduler" />
	</bean>
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" />

	<bean id="jobRegistry" class="com.wf.schedule.register.ZkJobRegistry">
		<property name="zkServers" value="192.168.137.107:2182" />
	</bean>

	<bean id="schedulerWrapper" class="com.wf.schedule.client.init.SchedulerWrapper" >
		<property name="groupName" value="push_task" />
		<property name="registry" ref="jobRegistry" />
	</bean>
</beans>